site_name: Apocrypha
site_url: https://www.apocrypha.wiki
theme:
  name: material
  font: 
    text: Gentium Book Plus
    code: Roboto
  logo: assets/logo.png
  favicon: assets/favicon.ico
  language: en
  features:
    - navigation.sections
    - navigation.expand
    - navigation.tabs
    - content.code.copy
    - search.highlight
    - content.anchors
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: light green
      accent: green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: light green
      accent: green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - awesome-pages

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.emoji
  - pymdownx.details
  - pymdownx.magiclink
  - pymdownx.betterem:
      smart_enable: all

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Sickliff/Apocrypha

